<div class="movie-badge-cnt">

	<div class="movieposter-cnt">
		<img
			src="/img/lagoon-mock.jpg"
			alt="The Blue Lagoon - 1980"
			class="movieposter"
		/>
	</div>
	<div class="movie-info-cnt">

		<div class="movie-title-cnt">
			<span class="movie-title">The Blue Lagoon</span>
		</div>
		<div class="synopsis-cnt">
			<span class="synopsis-span">In the Victorian period, two children are
				shipwrecked on a tropical island in the South Pacific. With no adults to
				guide them, the two make a simple life together, unaware that sexual
				maturity will eventually intervene.
			</span>

		</div>

		<span class="imdb-span">
			<a
				href="https://www.imdb.com/title/tt0080453/?ref_=nv_sr_srsg_0"
				class="imdb-link"
			>IMDB-link</a>
		</span>

		<div class="review-and-stars">
			<div class="rating-cnt">
				<span class="user-rating">User Rating:</span>
				<span class="stars">★★★</span>
			</div>
			<div class="read-review-cnt">
				<a href="/linktoidreview" class="read-review">Read Review</a>
			</div>
		</div>
	</div>

</div>