<div class="nav">
    <header>
        <img class="logo" src="/" alt="logo">
        <nav>
            <ul class="nav__links">
                <li><a href="#">Test</a></li>
                <li><a href="#">Test</a></li>
                <li><a href="#">Test</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Contact</button></a>
    </header>
</div> 

