<header class="nav-header">
        <a href="#" class="nav-a"><button class="nav-b" id="iReview">iReview</button></a>
        <nav>
            <ul class="nav__links">
                <li class="nav-li"><a href="#" class="nav-a"><button class="nav-b">Movie-List</button></a></li>
                <li class="nav-li"><a href="#" class="nav-a"><button class="nav-b">User Reviews</button></a></li>
            </ul>
        </nav>
        <ul class="nav__links">
            <li class="nav-li"> <a class="nav-a" href="#"><button class="nav-b">Logout</button></a></li>
            <li class="nav-li"> <a class="nav-a" href="#"><button class="nav-b">Profile</button></a></li>
        </ul>
</header>