<input type="checkbox" id="active" />
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="wrapper">
  <ul>
    <li class="li-link"><a href="/main">Home</a></li>
    <li class="li-link"><a href="/profiles/{{_id}}">Profile</a></li>
    <li class="li-link"><a href="/film-list">Movies</a></li>
    <li class="li-link"><a href="/reviews">Write a Review</a></li>
    <li class="li-link"><a href="/logout">Log Out</a></li>
  </ul>
</div>