<div class="profile-cnt">

	<div class="profile-card-cnt">

		<div class="user-bundle-cnt">

			<div class="profile-pic-cnt">

				<img src="/img/profile-pic-mock.png" alt="User" class="profile-pic" />

			</div>

			<div class="user-info-cnt">

				<span class="span-user-name">iMovieBuff</span>
				<span class="span-quote">"Favorite Quote"</span>

			</div>

		</div>

		<div class="reviewed-movies">
			<span class="review-watched">Movies Watched &amp; Reviewed</span>
		</div>
	</div>

</div>