<div class="login-main-cnt">
	<div class="login-box-cnt">

		<div class="login-wrapper">

			<span class="login-title">LOGIN</span>
			<span class="register-user-span">
				<a href="/register" class="register-link">SIGN UP</a>
			</span>
		</div>

		<form action="/login" method="post" class="login-form">
			<input
				type="text"
				name="username"
				placeholder="Username"
				class="username-input"
			/>
			<input
				type="password"
				name="password"
				placeholder="Password"
				class="password-input"
			/>
			<input type="submit" value="Log In" class="login-btn" />
			<a href="/google" class="google-login">Login with Google</a>
		</form>
	</div>
</div>