<div class="login-main-cnt">
  <div class="login-box-cnt">

    <div class="login-wrapper">

      <span class="login-title">LOGIN</span>
      <a href="/register">or register</a>
    </div>

    <form action="/login" method="post" class="login-form">
      <input
        type="text"
        name="username"
        placeholder="Username"
        class="username-input"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="password-input"
      />
      <a href="/google" class="google-login">Login with Google</a>
      <a href="/logout">Log out Google</a>
      <p class="login-test"><b>Login Info:</b>{{loginInfo}}</p>
      <input type="submit" value="Log In" class="login-btn" />
    </form>
  </div>
</div>