@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  color: #303030;
}

.profile-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#360f1f, #0b2530);
}

.profile-card-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 90vh;
}

.user-bundle-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30em;
}

.user-cnt {
  display: flex;
  justify-content: center;
}

.user-info-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  border-radius: 0.7em;
  padding: 2em;
  width: 84vw;
  gap: 1.4em;
  background-color: #e0e0e0;
  margin: 1em;
}

.profile-pic-cnt {
  width: 150px;
  height: 150px;
  margin: 1em;
  border: 5px solid #e0e0e0;
  border-radius: 0% 50% 50% 50%;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0% 50% 50% 50%;
}

.reviewed-movies-cnt {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.timestamp-cnt {
  display: flex;
  justify-content: flex-end;
}

.timestamp-span {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: end;
  font-style: italic;
}

.total-reviews {
  font-size: 1.2rem;
  font-weight: 0;
}

.span-user-name {
  font-weight: 700;
  font-size: 1.6rem;
}

.quote-box-cnt {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.span-quote {
  font-weight: 100;
  font-style: italic;
  font-size: 1.4rem;
}

.quote-by {
  font-size: 1.2rem;
}

.reviewed-watched-cnt {
  display: flex;
  margin: 1.4em;
}

.reviewed-watched-span {
  font-size: 1.4rem;
  font-weight: 700;
}

.movies-cnt {
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  border-radius: 0.8em;
  width: 84vw;
  height: 50vh;
  padding: 2em;
  gap: 2em;
}

.movie-badge-cnt {
  display: flex;
  flex-direction: row;
  border-radius: 0.8em;
}

.movieposter-cnt {
  width: 80px;
  margin: 0.3em;
  padding: 1em;
}

.movie-wrapper {
  overflow: scroll;
}

.movieposter {
  max-width: 100%;
}

.movie-info-cnt {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 1.2em;
  gap: 1.2em;
}

.movie-title-cnt {
  font-size: 1.4rem;
  font-weight: 600;
}

.synopsis-span {
  font-size: 1.2rem;
}

.imdb-span {
  font-size: 1.2rem;
  color: red;
}

.imdb-link {
  text-decoration: none;
}

.imdb-link:visited {
  color: red;
}

.review-and-stars {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0.3em;
  gap: 2em;
}

.user-rating {
  font-size: 1.2rem;
  font-weight: 600;
}

.rating-cnt {
  display: flex;
  flex-direction: column;
}

.read-review-cnt {
  display: flex;
}

.read-review,
.read-review:visited {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.read-review:hover {
  opacity: 0.6;
}

.stars {
  font-size: 1.2rem;
  color: orange;
}

@media (min-width: 768px) {
  .profile-cnt {
    width: 100vw;
    height: 100vh;
  }

  .profile-card-cnt {
    height: 60vh;
  }

  .user-info-cnt {
    min-width: 30vw;
    max-width: 30vw;
  }

  .movies-cnt {
    width: 30vw;
    height: 44vh;
  }

  .movieposter-cnt {
    width: 150px;
  }
}
.login-main-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#360f1f, #0b2530);
}

.register-main-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#360f1f, #0b2530);
}

.login-box-cnt {
  padding: 3em;
  border-radius: 0.7em;
}

.register-box-cnt {
  padding: 3em;
  border-radius: 0.7em;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.register-wrapper {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.login-title {
  font-size: 3rem;
  font-weight: 600;
  color: #da4981;
}

.register-title {
  font-size: 3rem;
  font-weight: 600;
  color: #da4981;
}

.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.username-input,
.password-input {
  text-align: center;
  color: #303030;
  border: none;
  font-size: 2rem;
  border-radius: 0.4em;
  outline-style: none;
}

.username-input:focus,
.password-input:focus {
  outline-style: none;
}

.login-btn {
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  background: #da4981;
  color: #e0e0e0;
  padding: 0.4em 0.6em;
  border-radius: 0.4em;
  cursor: pointer;
}

.register-btn {
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  background: #da4981;
  color: #e0e0e0;
  padding: 0.4em 0.6em;
  border-radius: 0.4em;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.7;
}

@media (min-width: 48em) {
  .username-input,
.password-input {
    font-size: 3rem;
  }
}
.movies-main-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#360f1f, #0b2530);
}

.test-title {
  color: white;
}

.profile-link {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.test-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-out-link {
  text-decoration: none;
  margin: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  background: #da4981;
  color: #e0e0e0;
  padding: 0.4em 0.6em;
  border-radius: 0.4em;
}

.log-out-link:visited {
  color: #e0e0e0;
}

.log-out-link:hover {
  opacity: 0.7;
}

.fof-main-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#360f1f, #0b2530);
}

.fof-fof-cnt {
  font-size: 3rem;
  font-weight: 600;
  margin: 1em;
  border: none;
  background: #da4981;
  color: #e0e0e0;
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
}

.fof-span-cnt {
  width: 30em;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #e0e0e0;
  border-radius: 0.7em;
}

.fof-title {
  font-size: 4rem;
  font-weight: 800;
  color: #303030;
}

.nav-li,
.nav-a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 25px 10%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.nav-b {
  display: flex;
  background: none;
  align-items: left;
  padding: 9px 25px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
}

.nav-b:hover {
  background-color: purple;
  border-radius: 0px 25px 25px 25px;
  transition: all 0.3s ease 0s;
}
