<div class="user-review-cnt">
	<div class="user-review-main-cnt">
		<div class="user-review-card-cnt">
			{{#each reviews}}

				<span class="total-rating-review">{{reviewedTitle.title}}</span>
				<span class="total-rating-review">{{rating}}</span>
				<span class="the-user-review">{{review}}</span>
			{{/each}}
		</div>
	</div>
</div>