<div class="user-review-cnt">

	<div class="user-review-main-cnt">

		<div class="user-review-card-cnt">

			<div class="total-score-cnt">

				<span class="total-rating-review">{{review.rating}} / 10</span>
			</div>

			<div class="review-box-cnt">

				<span class="the-user-review">{{review.review}}</span>
			</div>

			<div class="user-box-cnt">
				<div class="by-cnt">
					<span class="user-review-by">
						Review by:
					</span>
					<span class="by-span">
						{{review.reviewedBy.username}}
					</span>
				</div>
				<div class="back-and-settings-cnt">
					<span class="back-to">
						<a
							href="/reviews/{{review.reviewedTitle._id}}"
							class="back-to-a"
						>Back to Reviews</a>
					</span>
					<span class="edit-review-span">

					</span>

				</div>
			</div>

		</div>
	</div>
</div>