<div class="review-main-cnt">
	<div class="review-frame">
		<form action="/reviews/write-review" method="post" class="review-form">
			<select name="reviewedBy">
				<option disabled selected>Reviewed By</option>
				{{#each users}}
					<option value="{{_id}}">{{username}}</option>
				{{/each}}
			</select>
			<select name="reviewedTitle" class="select-movie-box">
				<option disabled selected>Choose Movie To Review</option>
				{{#each movies}}
					<option value="{{_id}}">{{title}}</option>
				{{/each}}
			</select>
			<span class="rating-to-ten">Choose a Rating 1-10</span>
			<input type="number" name="rating" min="1" max="10" class="rating-box" />
			<textarea name="review" cols="30" rows="10" class="review-box"></textarea>
			<input type="submit" value="Post" />
		</form>

		<span></span>
	</div>
</div>