<div class="movies-main-cnt">
	<div class="test-wrap">

		<h2 class="test-title">HERE SHALL BE A BUNCH OF MOVIES AND SUCH</h2>
		{{#each users}}
			<span class="test-title">
				<a href="/profiles/{{_id}}" class="profile-link">{{username}}</a>
			</span>
		{{/each}}
	</div>
	<a href="/main/log-out-user" class="log-out-link">Log Out</a>

</div>