<div class="admin-reviews-container">
  <a href="/admin">Back to main page</a>

  <ul>
    {{#each reviews}}
      <li>{{review}}</li><form
        action="/admin/reviews/{{_id}}"
        method="post"
      ><button type="submit">Delete</button></form>
    {{/each}}
  </ul>
</div>