<div class="admin-reviews-container">
	<span class="back-to-main">

		<a href="/admin" class="admin-links">Back to Admin Dash</a>
	</span>

	{{#each reviews}}
		<form action="/admin/reviews/{{_id}}" method="post" class="del-user-form">
			<span class="user-admin-li">{{reviewedBy.username}} - </span>
			<span class="user-review-admin"><q>{{reviewedTitle.title}}</q></span>
			<button type="submit" class="delete-user-btn">Delete</button></form>
	{{/each}}

</div>