{{!-- front-page-cnt --}}

<div class="front-page-cnt">
	{{!-- welcome-cnt --}}
	<div class="front-page-card-cnt">
		<div class="welcome-bundle-cnt">
			<div class="logo-cnt">
				<img src="/img/iReview-logo.png" alt="Logo" class="logo-img" />
			</div>
			<div class="welcome-info-cnt">
				<span class="span-welcome">Welcome to iReview</span>
				<span class="span-welcome-2">Your website for weekly movie reviews</span>
			</div>
		</div>
	{{!-- motw-cnt --}}
	    <span class="motw-intro">Movie of the week</span>
		<div class="motw-bundle-cnt">
			<div class="motw-image-cnt">
				<img src="/public/img/die-hard-1.png" alt="Movie-of-the-week" class="motw-img">
			</div>
			<div class="motw-movie-info">
			    <span class="span-motw-name">Die Hard <span class="span-motw-year">(1988)</span></span><br>
			    <span class="span-motw-genre">Genre:<span class="span-motw-genre-2">Action</span></span><br>
			    <span class="span-motw-genre">Starring:<span class="span-motw-genre-2">test</span></span>
			</div>
		</div>
		<div class="motw-description">
			<span class="motw"></span>
		</div>
	{{!-- motw-user review --}}
		<span class="motw-user-reviews">User Reviews</span>
		<div class="motw-user-reviews-cnt">
			<div>
			</div>
		</div>
		<div>
		</div>
    {{!-- previous-motw-cnt --}}
	    <span class="motw-user-reviews">Previous Movie Of The Week</span>
	</div>
</div>
	


