.front-page-cnt {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #303030;
}

.front-page-card-cnt {
	display: flex;
	flex-direction: column;
	background-color: white;
	gap: 1em;
	width: 45%;
	height: 80%;
	border: 2px solid yellow;
	padding-top: 1rem;
}

// WELCOMEs

.welcome-bundle-cnt {
	display: flex;
	flex-direction: row;
}

.logo-cnt {
	width: 10rem;
	height: auto;
	border: 5px solid red;
}

.logo-img {
	width: 100%;
}

.welcome-info-cnt {
	display: flex;
	flex-direction: column;
	border: 1px solid green;
	gap: 1em;
}

.span-welcome {
	font-weight: 300;
	font-size: 1.2rem;
}

.span-welcome-2 {
	font-weight: 100;
	font-style: italic;
	font-size: 1.2rem;
}

// MOVIE OF THE WEEK

.motw-intro {
	color: red;
}

.motw-bundle-cnt {
	display: flex;
	flex-direction: row;
}

.motw-img-cnt {
	width: 10rem;
	height: auto;
	border: 5px solid red;
}

.motw-info-cnt {
	display: flex;
	flex-direction: column;
	border: 1px solid green;
	gap: 1em;
}

.span-motw-name {
	font-weight: 300;
	font-size: 1.2rem;
}

.span-motw-genre {
	font-weight: 100;
	font-style: italic;
	font-size: 1.2rem;
}