.login-main-cnt {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#631d3a, #1a5872);
}

.register-main-cnt {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#631d3a, #1a5872);
}

.login-box-cnt {
	padding: 3em;
	border-radius: 0.7em;
	gap: 2em;
}

.register-box-cnt {
	padding: 3em;
	border-radius: 0.7em;
}

.login-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.register-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}

.login-title {
	font-size: 3rem;
	font-weight: 600;
	color: #da4981;
}

.register-user-span {
	margin: 2em;
}

.register-link {
	font-size: 1.4rem;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	padding: 0.4em;
	border-radius: 0.4em;
}

.register-link:hover {
	opacity: 0.7;
	color: #da4981;
}

.register-title {
	font-size: 3rem;
	font-weight: 600;
	color: #da4981;
}

.register-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.username-input,
.password-input {
	text-align: center;
	color: #303030;
	border: none;
	font-size: 2rem;
	padding: 0.6em;
	border-radius: 0.4em;
	outline-style: none;
}

.username-input:focus,
.password-input:focus {
	outline-style: none;
}

.login-btn {
	font-size: 1.5rem;
	font-weight: 600;
	border: none;
	background: #da4981;
	color: #ffffff;
	padding: 0.4em 0.6em;
	border-radius: 0.4em;
	cursor: pointer;
}

.register-btn {
	font-size: 1.5rem;
	font-weight: 600;
	border: none;
	background: #da4981;
	color: #ffffff;
	padding: 0.4em 0.6em;
	border-radius: 0.4em;
	cursor: pointer;
}

.login-btn:hover {
	opacity: 0.7;
}

.register-btn:hover {
	opacity: 0.7;
}

@media (min-width: 48em) {
	.username-input,
	.password-input {
		font-size: 2rem;
	}
}

.google-login {
	font-size: 1.6rem;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
}

.google-login:hover {
	color: #da4981;
}

.login-test {
	color: white;
	font-size: 1.2rem;
}
