.movies-main-cnt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#631d3a, #1a5872);
}

.this-week {
	font-size: 3rem;
	font-weight: 400;
	font-style: italic;
	color: #ffffff;
	margin: 0.4em;
}

.weekly-card-cnt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.weekly-title {
	font-size: 4rem;
	font-weight: 600;
	color: #ffffff;
}

.weekly-poster {
	width: 250px;
	margin: 1.5em;
	padding: 1.5em;
	border-radius: 0.4em;
	background-color: #ffffff;
}

.week-spans-cnt {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.week-spans-cnt {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 2em;
	gap: 2em;
}

.a-week {
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
	text-decoration: none;
	background-color: #da4981;
	padding: 0.4em;
	border-radius: 0.4em;
	border: none;
	width: 8em;
	cursor: pointer;
}

.a-week:hover {
	opacity: 0.7;
}
