.movies-main-cnt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#360f1f, #0b2530);
}

.weekly-card-cnt {
	display: flex;
	justify-content: center;
}

.weekly-title {
	font-size: 4rem;
	color: #ffffff;
}
