.profile-cnt {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#360f1f, #0b2530);
}

.profile-card-cnt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 95vw;
	height: 90vh;
}

.user-bundle-cnt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30em;
}

.user-cnt {
	display: flex;
	justify-content: center;
}

.user-info-cnt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 0.7em;
	padding: 2em;
	width: 84vw;
	gap: 1em;

	background-color: #e0e0e0;
	margin: 1em;
}

.profile-pic-cnt {
	width: 150px;
	height: 150px;
	margin: 1em;
	border: 5px solid #e0e0e0;
	border-radius: 0% 50% 50% 50%;
}

.profile-pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0% 50% 50% 50%;
}

.reviewed-movies-cnt {
	display: flex;
	justify-content: center;
	margin: 1em;
}

.fav-movie-cnt {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
	margin-bottom: 1em;
}

.settings-cnt {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.settings-a {
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
	// color: #303030;

	color: #ffffff;

	text-decoration: none;
	background-color: #da4981;
	padding: 0.4em;
	border-radius: 0.4em;
}

.settings-a:hover {
	opacity: 0.7;
}

.timestamp-cnt {
	display: flex;
	justify-content: flex-end;
}

.timestamp-span {
	font-size: 1rem;
	font-weight: 400;

	font-style: italic;
}

.total-reviews {
	font-size: 1.2rem;
	font-weight: 00;
}

.span-user-name {
	font-weight: 700;
	font-size: 1.6rem;
	color: #b63e6c;
}

.quote-box-cnt {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.fav-label {
	font-size: 1rem;
	font-weight: 600;
}

.fav-movie-title {
	font-size: 1.2rem;
}

.span-quote {
	font-size: 1.2rem;
	font-weight: 300;
	font-style: italic;
}

.quote-by {
	font-size: 1.2rem;
}

.reviewed-watched-cnt {
	display: flex;
	margin: 1.4em;
}

.reviewed-watched-span {
	font-size: 1.4rem;
	font-weight: 700;
}

.movies-cnt {
	display: flex;
	flex-direction: column;
	background-color: #e0e0e0;
	border-radius: 0.8em;
	width: 84vw;
	height: 50vh;
	padding: 2em;
	gap: 2em;
}

.movie-badge-cnt {
	display: flex;
	flex-direction: row;
	border-radius: 0.8em;
}

.movieposter-cnt {
	width: 80px;
	margin: 0.3em;
	padding: 1em;
}

.movie-wrapper {
	overflow: scroll;
}

.movieposter {
	max-width: 100%;
}

.movie-info-cnt {
	display: flex;
	width: 60%;
	flex-direction: column;
	margin: 1.2em;
	gap: 1.2em;
}

.movie-title-cnt {
	font-size: 1.4rem;
	font-weight: 600;
}

.synopsis-span {
	font-size: 1.2rem;
}

.imdb-span {
	font-size: 1.2rem;
	color: red;
}

.imdb-link {
	text-decoration: none;
}
.imdb-link:visited {
	color: red;
}

.review-and-stars {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0.3em;
	gap: 2em;
}

.user-rating {
	font-size: 1.2rem;
	font-weight: 600;
}

.rating-cnt {
	display: flex;
	flex-direction: column;
}

.read-review-cnt {
	display: flex;
}

.read-review {
	font-size: 1.2rem;
	font-weight: 600;
	text-decoration: none;
	// color: #303030;
	color: #ffffff;
	text-decoration: none;
	background-color: #da4981;
	padding: 0.4em;
	border-radius: 0.4em;
}

.read-review:hover {
	opacity: 0.6;
}

//** STARS STARS STARS STARS **//

.stars {
	font-size: 1.2rem;
	font-weight: 400;
}

@media (min-width: 768px) {
	.profile-cnt {
		width: 100vw;
		height: 100vh;
	}

	.profile-card-cnt {
		height: 60vh;
	}

	.user-info-cnt {
		min-width: 30vw;
		max-width: 30vw;
	}

	.movies-cnt {
		width: 30vw;
		height: 44vh;
	}

	.movieposter-cnt {
		width: 150px;
	}
}
