.user-review-cnt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#631d3a, #1a5872);
}

.user-review-card-cnt {
	display: flex;
	flex-direction: column;
	background: #e0e0e0;
	padding: 0.5em;
	border-radius: 0.7em;
	width: 88vw;
}

.total-score-cnt {
	padding: 0.7em;
}

.total-rating-review {
	font-size: 3rem;
	font-weight: 700;
	color: #da4981;
}

.review-box-cnt {
	padding: 0.7em;
	line-height: 3.2em;
}

.the-user-review {
	font-size: 1.4rem;
	font-weight: 400;
}

.user-box-cnt {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.7em;
	justify-content: space-between;
}

.user-review-by {
	font-size: 1.2rem;
	font-weight: 700;
	color: #303030;
}

.by-span {
	font-size: 1.2rem;
	font-style: italic;
	font-weight: 400;
}

.back-to-a {
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
	text-decoration: none;
	background-color: #da4981;
	padding: 0.4em;
	border-radius: 0.4em;
}

.back-to-a:hover {
	opacity: 0.7;
}

@media (min-width: 600px) {
	.user-review-card-cnt {
		width: 30vw;
	}
}
